h1
{
    display: flex;
    justify-content: center;
}

.main 
{
    display:flex;
    justify-content: center;
}

.buttons
{
    display:flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}
.container
{
    display: grid;
    border: solid 10px;
    border-color: red;
    height: 500px;
    width: 500px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.smallGrids
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hover
{
    background-color: aqua;
}

footer
{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
