h1
{
    display: flex;
    justify-content: center;
}

.main 
{
    display:flex;
    justify-content: center;
}

.buttons
{
    display:flex;
    flex-direction: column;
    margin: 10px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    border: solid 10px;
    border-color: red;
    height: 256px;
    width: 256px;
    padding: 0;
}

.smallGrids
{
    display: flex;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: solid 1px;
    border-color: blue;
}
.hover
{
    background-color: aqua;
}